@font-face {
   font-family: 'AVGARDD_2';
   font-display: swap;
   src: url('file:///C:/Users/Michel%20Tounzo/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-11-06_101103/fonts/AVGARDD_2/font.TTF');
}
